# pls fix *** before use

POSTGRES_USER=***
POSTGRES_PASSWORD=***
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=***

ollamaURL = "http://localhost:11434/api/generate"
stabilityModel = ***