torch==2.4.0+cu124
torchaudio==2.4.0+cu124
f5-tts-th==1.0.9
pythainlp>=4.0.2
vocos>=0.1.0
accelerate>=0.33.0
librosa==0.10.2
soundfile>=0.12.1
transformers>=4.44.0
x-transformers>=1.32.0
fastapi
uvicorn
httpx
python-multipart