fastapi==0.115.0
uvicorn[standard]==0.30.0
requests==2.31.0
python-multipart==0.0.6
sqlmodel>=0.0.22
pymysql==1.1.1
psycopg2-binary
python-dotenv==1.0.0
torch
diffusers
transformers
accelerate
googletrans
pymupdf>=1.23.9
langchain
langchain-community
faiss-cpu